*{
    box-sizing: border-box;

}

body{
    margin: 0;
    background-color: black;
    color: whitesmoke;
}

h1{
    color: whitesmoke;
    text-align: center;
    font-size: 48px;
}
p{
    color: whitesmoke;
    text-align: center;
    font-size: 18px;
}

.newList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 20px;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 15px;
}

button{
    cursor: pointer;
    border: none;
    background-color: whitesmoke;
    margin: 15px;
    font-size: 18px;
}

.seasonList{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.button-back{
    background-color: aqua;
    border-radius: 15px;
    color: black;
    font-size: 18px;
    padding: 10px;
}